name: build and tag

on:
  push:
    tags:
      - '*'
      
 
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Set env for release
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Print release information
        run: |
          echo $RELEASE_VERSION
          echo ${{ env.RELEASE_VERSION }}    

      - name: Build docker image
        run: DOCKER_BUILDKIT=1 docker build --progress=plain -t ghcr.io/${GITHUB_REPOSITORY}/${GITHUB_REF##*/} .
        
      - name: Tag image
        run: docker tag ghcr.io/${GITHUB_REPOSITORY}/${GITHUB_REF##*/} ghcr.io/rob-luke/fnirs-apps-quality-reports/app:${{ env.RELEASE_VERSION }}

      - name: Push image to github
        run: docker push ghcr.io/rob-luke/fnirs-apps-quality-reports/app:${{ env.RELEASE_VERSION }}

      - name: Tag image
        run: docker tag ghcr.io/${GITHUB_REPOSITORY}/${GITHUB_REF##*/} ghcr.io/rob-luke/fnirs-apps-quality-reports/app

      - name: Push image to github
        run: docker push ghcr.io/rob-luke/fnirs-apps-quality-reports/app:latest
